# =========================
# DEPENDENCIES
# =========================
node_modules/
sanity/node_modules/

# =========================
# SANITY BUILD OUTPUT
# =========================
dist/
sanity/dist/

# =========================
# SANITY TEMP FILES
# =========================
.sanity/
sanity/.sanity/

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# MISC
# =========================
.DS_Store
*.pem
